# NHS Notify Code Owners

* @NHSDigital/nhs-notify-platform

# Default protection for codeowners, must be last in file.
/.github/CODEOWNERS @NHSDigital/nhs-notify-code-owners
/CODEOWNERS @NHSDigital/nhs-notify-code-owners
