{
  "Comment": "Workflow to run bob query.",
  "StartAt": "Select Client Ids",
  "States": {
    "Select Client Ids": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.clientIds",
          "IsPresent": true,
          "Next": "Get Client Ids From Args"
        }
      ],
      "Default": "Get Client Ids From SSM"
    },
    "Get Client Ids From Args": {
      "Type": "Pass",
      "Next": "Select Completed Date",
      "ResultPath": "$.useClientIds",
      "Parameters": {
        "clientIds.$": "$.clientIds"
      }
    },
    "Get Client Ids From SSM": {
      "Type": "Task",
      "Parameters": {
        "Name": "/${environment}/bob/clientIds"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Next": "Select Completed Date",
      "ResultSelector": {
        "clientIds.$": "States.StringToJson($.Parameter.Value)"
      },
      "ResultPath": "$.useClientIds"
    },
    "Select Completed Date": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.completedDate",
          "IsPresent": true,
          "Next": "Get Completed Date From Args"
        }
      ],
      "Default": "Pass2"
    },
    "Get Completed Date From Args": {
      "Type": "Pass",
      "Next": "For Each Client Id",
      "Parameters": {
        "completedDate.$": "$.completedDate"
      },
      "ResultPath": "$.useCompletedDate"
    },
    "Pass2": {
      "Type": "Pass",
      "Next": "For Each Client Id"
    },
    "For Each Client Id": {
      "Type": "Map",
      "ItemsPath": "$.useClientIds.clientIds",
      "ItemSelector": {
        "clientId.$": "$$.Map.Item.Value",
        "completedDate.$": "$.useCompletedDate.completedDate"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Get Query",
        "States": {
          "Get Query": {
            "Type": "Task",
            "Parameters": {
              "NamedQueryId": "${query_id}"
            },
            "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
            "Next": "Execute Query",
            "ResultPath": "$.ReportQuery"
          },
          "Execute Query": {
            "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
            "Parameters": {
              "QueryString.$": "$.ReportQuery.NamedQuery.QueryString",
              "ExecutionParameters.$": "States.Array($.clientId, States.Format('\\'{}\\'', $.completedDate), States.Format('\\'{}\\'', $.completedDate))",
              "WorkGroup.$": "$.ReportQuery.NamedQuery.WorkGroup",
              "QueryExecutionContext": {
                "Database.$": "$.ReportQuery.NamedQuery.Database"
              },
              "ResultConfiguration": {
                "OutputLocation.$": "States.Format('${output_root}{}/{}/', $.clientId, $.completedDate)"
              }
            },
            "Type": "Task",
            "Next": "Transaction Success",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.error",
                "Next": "Transaction Failed"
              }
            ]
          },
          "Transaction Success": {
            "Type": "Pass",
            "Result": "Athena query succeeded.",
            "End": true
          },
          "Transaction Failed": {
            "Type": "Fail",
            "CausePath": "$.error.Cause",
            "ErrorPath": "$.error.Error"
          }
        }
      },
      "End": true
    }
  }
}
