{
  "Comment": "Workflow to generate the completed communications report.",
  "StartAt": "Select Client Ids",
  "States": {
    "Select Client Ids": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.clientIds",
          "IsPresent": true,
          "Next": "Get Client Ids From Args"
        }
      ],
      "Default": "Get Client Ids From SSM"
    },
    "Get Client Ids From Args": {
      "Type": "Pass",
      "Next": "Exit if No Clients",
      "ResultPath": "$.UseClientIds",
      "Parameters": {
        "clientIds.$": "$.clientIds"
      }
    },
    "Exit if No Clients": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.UseClientIds.clientIds[0]",
          "IsPresent": false,
          "Next": "No Clients Found"
        }
      ],
      "Default": "Select Completed Date"
    },
    "No Clients Found": {
      "Type": "Succeed"
    },
    "Get Client Ids From SSM": {
      "Type": "Task",
      "Parameters": {
        "Name": "/${environment}/completed-comms-report/clientIds"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Next": "Exit if No Clients",
      "ResultSelector": {
        "clientIds.$": "States.StringToJson($.Parameter.Value)"
      },
      "ResultPath": "$.UseClientIds"
    },
    "Select Completed Date": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.completedDate",
          "IsPresent": true,
          "Next": "Get Completed Date From Args"
        }
      ],
      "Default": "Get Completed Date Query"
    },
    "Get Completed Date From Args": {
      "Type": "Pass",
      "Next": "Get Report Query",
      "Parameters": {
        "completedDate.$": "$.completedDate"
      },
      "ResultPath": "$.UseCompletedDate"
    },
    "Get Completed Date Query": {
      "Type": "Task",
      "Parameters": {
        "NamedQueryId": "${date_query_id}"
      },
      "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
      "Next": "Execute Completed Date Query",
      "ResultPath": "$.DateQuery"
    },
    "Execute Completed Date Query": {
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString.$": "$.DateQuery.NamedQuery.QueryString",
        "WorkGroup.$": "$.DateQuery.NamedQuery.WorkGroup",
        "QueryExecutionContext": {
          "Database.$": "$.DateQuery.NamedQuery.Database"
        }
      },
      "Type": "Task",
      "Next": "Get Completed Date From Query Results",
      "ResultPath": "$.DateQueryExecution"
    },
    "Get Completed Date From Query Results": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:getQueryResults",
      "Parameters": {
        "QueryExecutionId.$": "$.DateQueryExecution.QueryExecution.QueryExecutionId"
      },
      "Next": "Get Report Query",
      "ResultPath": "$.UseCompletedDate",
      "ResultSelector": {
        "completedDate.$": "$.ResultSet.Rows[1].Data[0].VarCharValue"
      }
    },
    "Get Report Query": {
      "Type": "Task",
      "Parameters": {
        "NamedQueryId": "${report_query_id}"
      },
      "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
      "Next": "For Each Client Id",
      "ResultPath": "$.ReportQuery"
    },
    "For Each Client Id": {
      "Type": "Map",
      "ItemsPath": "$.UseClientIds.clientIds",
      "ItemSelector": {
        "clientId.$": "$$.Map.Item.Value",
        "completedDate.$": "$.UseCompletedDate.completedDate",
        "ReportQuery.$": "$.ReportQuery"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Check for Existing Report",
        "States": {
          "Check for Existing Report": {
            "Type": "Task",
            "Parameters": {
              "Bucket": "${output_bucket}",
              "Prefix.$": "States.Format('${output_folder}/{}/{}/', $.clientId, $.completedDate)"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
            "Next": "Exit if Report Already Exists",
            "ResultPath": "$.ReportExistsCheck"
          },
          "Exit if Report Already Exists": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.ReportExistsCheck.KeyCount",
                "NumericEquals": 0,
                "Next": "Execute Report Query"
              }
            ],
            "Default": "Report Already Exists"
          },
          "Report Already Exists": {
            "Type": "Succeed"
          },
          "Execute Report Query": {
            "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
            "Parameters": {
              "QueryString.$": "$.ReportQuery.NamedQuery.QueryString",
              "ExecutionParameters.$": "States.Array($.clientId, States.Format('\\'{}\\'', $.completedDate), States.Format('\\'{}\\'', $.completedDate))",
              "WorkGroup.$": "$.ReportQuery.NamedQuery.WorkGroup",
              "QueryExecutionContext": {
                "Database.$": "$.ReportQuery.NamedQuery.Database"
              },
              "ResultConfiguration": {
                "OutputLocation.$": "States.Format('s3://${output_bucket}/${output_folder}/{}/{}/', $.clientId, $.completedDate)"
              }
            },
            "Type": "Task",
            "Next": "Check for Created Report",
            "ResultPath": "$.ReportQueryExecution"
          },
          "Check for Created Report": {
            "Type": "Task",
            "Parameters": {
              "Bucket": "${output_bucket}",
              "Prefix.$": "States.Format('${output_folder}/{}/{}/x/', $.clientId, $.completedDate)"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
            "Next": "Error if Report Not Created",
            "ResultPath": "$.ReportCreatedCheck"
          },
          "Error if Report Not Created": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.ReportCreatedCheck.KeyCount",
                "NumericEquals": 0,
                "Next": "Report Not Created"
              }
            ],
            "Default": "Report Created"
          },
          "Report Created": {
            "Type": "Succeed"
          },
          "Report Not Created": {
            "Type": "Fail"
          }
        }
      },
      "End": true,
      "ResultSelector": {}
    }
  }
}
