{
  "Comment": "Workflow to run housekeeping queries to maintain reporting tables.",
  "StartAt": "Optimize Pass",
  "States": {
    "Optimize Pass": {
      "Type": "Parallel",
      "Branches": ${jsonencode(concat([
        for query_id in optimize_query_ids:
        {
          "StartAt": "Get Query ${query_id}",
          "States": {
            "Get Query ${query_id}": {
              "Type": "Task",
              "Parameters": {
                "NamedQueryId": "${query_id}"
              },
              "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
              "Next": "Execute Query ${query_id}"
            },
            "Execute Query ${query_id}": {
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString.$": "$.NamedQuery.QueryString",
                "WorkGroup.$": "$.NamedQuery.WorkGroup",
                "QueryExecutionContext": {
                  "Database.$": "$.NamedQuery.Database"
                }
              },
              "Type": "Task",
              "End": true
            }
          }
        }
      ]))},
      "Next": "Vacuum Pass"
    },
    "Vacuum Pass": {
      "Type": "Parallel",
      "Branches": ${jsonencode(concat([
        for query_id in vacuum_query_ids:
        {
          "StartAt": "Get Query ${query_id}",
          "States": {
            "Get Query ${query_id}": {
              "Type": "Task",
              "Parameters": {
                "NamedQueryId": "${query_id}"
              },
              "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
              "Next": "Execute Query ${query_id}"
            },
            "Execute Query ${query_id}": {
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString.$": "$.NamedQuery.QueryString",
                "WorkGroup.$": "$.NamedQuery.WorkGroup",
                "QueryExecutionContext": {
                  "Database.$": "$.NamedQuery.Database"
                }
              },
              "Type": "Task",
              "End": true
            }
          }
        }
      ]))},
      "Next": "Get Tables for Statistics"
    },
    "Get Tables for Statistics": {
      "Type": "Task",
      "Parameters": {
        "DatabaseName": "${database_name}"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:getTables",
      "OutputPath": "$.TableList[?(@.TableType=='EXTERNAL_TABLE')].Name",
      "Next": "Calculate Statistics For Each Table"
    },
    "Calculate Statistics For Each Table": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Start Calculate Statistics For Table",
        "States": {
          "Start Calculate Statistics For Table": {
            "Type": "Task",
            "Parameters": {
              "DatabaseName": "${database_name}",
              "TableName.$": "$.tableName",
              "Role": "${iam_role}"
            },
            "Resource": "arn:aws:states:::aws-sdk:glue:startColumnStatisticsTaskRun",
            "End": true
          }
        }
      },
      "ItemSelector": {
        "tableName.$": "$$.Map.Item.Value"
      },
      "End": true
    }
  }
}
